<div class="row">
    <main class="col-md-12">
        <!-- Start your code here -->

        <div class="jumbotron text-center" style="background-color: #f0f0f0; margin-top: 20px;">
            <h1>Welcome to HARASHISH College Management System</h1>
            <p>A platform for managing students and courses</p>
        </div>

        <!-- End your code here -->
    </main>
</div>
