<div class="row">
    <main class="col-md-12">

        <!-- Start your code here -->

        <div class="jumbotron jumbotron-fluid bg-success text-white text-center">
            <div class="container">
                <h1 class="display-4">Explore Basic HTML Elements with Bootstrap</h1>
                <p class="lead">A demonstration of various HTML elements and styling using Bootstrap.</p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Headings</h2>
                    <h1>Heading 1</h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                    <h4>Heading 4</h4>
                    <h5>Heading 5</h5>
                    <h6>Heading 6</h6>
                </div>
                <div class="col-md-6">
                    <h2>Text Styles</h2>
                    <p>This is a paragraph of text. <strong>This text is strong.</strong> <em>This text is emphasized.</em></p>
                    <p><a href="#" class="btn btn-primary">This is a link</a></p>
                    <p><mark>This is a marked text.</mark></p>
                    <p><del>This is deleted text.</del></p>
                    <p><ins>This is inserted text.</ins></p>
                    <p><abbr title="Hypertext Markup Language">HTML</abbr></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2>Lists</h2>
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                    </ul>
                    <ol>
                        <li>First Item</li>
                        <li>Second Item</li>
                        <li>Third Item</li>
                    </ol>
                </div>
                <div class="col-md-6">
                    <h2>Tables</h2>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Header 1</th>
                                <th>Header 2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Data 1</td>
                                <td>Data 2</td>
                            </tr>
                            <tr>
                                <td>Data 3</td>
                                <td>Data 4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- End your code here -->
    </main>
</div>
